*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --primary-color: #faedeb;
    --primary-color-light: #ecc6c0;
    --bg-dark-primary: #000000;
    --bg-light-primary: #fff;
    --bg-dark-secondary: #121212;

    --border-radius: 0.3rem;

    --text-primary-color: #000;
    --text-secondary-color: #737373;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

body{
    background-color: var(--bg-light-primary);
}

/* global css starts here  */

a{
    text-decoration: none;
} 

button , .button{
    margin: .5rem 0 ;
    padding: .4rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: var(--bg-dark-primary);
    transition: all ease-in-out 200ms;
}

.btn-primary{
    background-color: var(--bg-dark-primary);
    border: 1px solid var(--primary-color);
    
}

.btn-primary:hover{
    background-color: var(--primary-color-light);
    color: var(--bg-dark-primary);
    border: 1px solid var(--primary-color);

}
.btn-secondary{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

h1, h2, h3, h4, h5, h6{
    line-height: 2rem;
    font-family: var(--font-primary);
    font-weight: 400;
    color: var(--text-primary-color);
}
h1{
    font-size: 3rem;
    line-height: 3.5rem;
    
}
h2{
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 1rem 0;
}
h3{
    font-size: 1.5rem;

  
}
h4{
    font-size: 18px;
    margin: .5rem 0;
}
p{
    font-size: 13px;
    font-family: var(--font-primary);
    line-height: 1.5rem;
    color: var(--text-primary-color);
    
}

label{
    color: var(--text-primary-color);
}

input{
    border: none;
    outline: none;
    color: var(--text-primary-color);
}

li{
    font-family: var(--font-secondary);
    list-style: none;
    color: var(--text-secondary-color);

}
a{
    color: var(--text-secondary-color);
}

ion-icon{
    color: var(--text-primary-color);
}

.subTitle{
    font-size: 24px;
    line-height: 2rem;
}
.container{
    width: 90%;
    max-width: 1280px;
    border-radius: 10px;
    margin: 0 auto;
}
.row{
    width: 100%;
}
.column{
    /* flex: 1; */
}
.title{
    text-align: center;
}
.parent{
    width: 99%;
    margin: 1rem auto;
}
.grid{
    display: grid;

}
.d-flex{
    display: flex;
    flex-wrap: nowrap;  
}
.justify-between{
    justify-content: space-between;
}
.justify-start{
    justify-content: start;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: start;
}
.direction-column{
    flex-direction: column;
}
.direction-row{
    flex-direction: row;
}
.align-content{
    align-content: space-between ;

}

.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-wrap{
    flex-wrap: wrap;
}
.seprator{
    width: 100%;
    height: .4rem;
    background-color: var(--bg-gray-hover);
}
.discount{
    color: var(--bg-gray-hover);
    text-decoration: line-through;
}

.padding{
    /* background-color: #9f0d14; */
    padding: 4% 0;
}
i{
    color: var(--text-primary-color);
}

.gap{
    gap: 8px;
}
.displayNone{
    display: none;
}
/* global css ends here  */

/* QnA starts here  */
form{
    margin: 2rem 0;
    /* background-color: green; */
}
/* QnA ends here  */
